// cores primarias
$preto: #000;

$cinza-meteora: #cccccc;
$verde-meteora: #daff01;
$roxo-meteora: #9353ff;

// cores secundarias
$coral-meteora:#ee6471;
$laranja-meteora: #f87f46;

// tamanhos de fontes

$fonte-family-primaria: 'Inter';
$fonte-tamanho-padrao: 1rem;
$fonte-tamanho-pequeno: 0.9rem;
$fonte-tamanho-muito-pequeno: 0.81rem;

// Reutilizáveis
@mixin flex-box($direcao: row, $alinha: stretch, $justify: flex-start, $gap: 0) {
    display: flex;
    flex-direction: $direcao;
    align-items: $alinha;
    justify-content: $justify;
    gap: $gap;
  }

@font-face {
    font-family: Inter;
    src: url(../../fonts/Inter/static/Inter_18pt-Light.ttf);
}

@font-face {
    font-family: Inter;
    src: url(../../fonts/Inter/static/Inter_18pt-Bold.ttf);
    font-weight: 600;
}

#content{
    width: 100vw;
    min-height: 100vh;
    color: white;

    #cabecalho{
        @include flex-box($alinha: center, $justify: space-between);
        
        padding: 0.8rem 1.4rem;
        background-color: $preto;

        #nav-container{
            @include flex-box($alinha: center, $gap: 2.5rem );

            width: 60%;
            
            #nav-logo{
                max-width: 132px;

                @media(max-width: 1000px) {
                   width: 25%;
                   min-width: 115px;
                    
                }

                @media(max-width: 760px) {
                    width: 30%;
                    min-width: 125px;
                     
                 }
                    
            }

            #nav{
                @include flex-box($alinha: center, $gap: 2.5rem);

                .nav-link{
                    text-wrap: nowrap;
                    text-align: center;
                    font-family: $fonte-family-primaria ;
                    font-size: $fonte-tamanho-padrao;
                    
                    a{
                        color: inherit;

                        &:hover, &:focus{
                            color: $verde-meteora;
                            font-weight: 600;
                        }
                    }
                    
                    @media(max-width: 1000px){
                        font-size:$fonte-tamanho-pequeno;
                       
                     }

                     @media(max-width: 820px){
                        font-size: $fonte-tamanho-muito-pequeno;
                       
                     }

                    @media (max-width: 760px) {
                        display: none;
                    }

                }

                @media (max-width: 1000px) {
                    gap: 1.9rem
                }

                @media (max-width:820px) {
                    gap: 1.6rem
                }
                
            }

            #menu-dropdown{
                display: none;
            }

            @media(max-width: 1000px) {
                width: 45%;
                gap: 1.9rem;
            }

            @media(max-width: 820px) {
                gap: 1.6rem;
            }

            @media(max-width: 760px) {
                width: 100%;
                justify-content: space-between;
                min-height: 58px;
                margin-bottom: 0.8rem;

                #menu-dropdown{
                    display: block;

                    #botao-menu-dropdown{
                        background: transparent;
                        
                        img{
                            max-width: 30px;
                            height: auto;
                        }
                    }
                    
                    #nav-dropdown{
                        display: none;
                    }

                    &.ativo{
                        @include flex-box(column);

                        min-width: 144px;
                        position: fixed;
                        right: 0;
                        top: 0;
                        padding: 0.9rem 1.5rem;
                        background-color: #343A40;

                        #botao-menu-dropdown{
                            @include flex-box($justify: end);

                            width: 100%;   

                            img{
                                max-width: 30px;
                            }
                        }

                        #nav-dropdown{
                            @include flex-box(column, $gap: 0.5rem );

                            .border-bottom{
                                border-bottom: #CED4DA solid 1px;
                                padding-bottom:0.5rem ;

                            }

                            .nav-link-dropdown{
                                a {
                                    font-family: $fonte-family-primaria;
                                    font-size: $fonte-tamanho-padrao;
                                    color: inherit;
    
                                    &:hover{
                                        color: $verde-meteora;
                                        font-weight: 600;
                                    }

                                }

                            }
                            
                        }
    
                    }

                }

            }

        }

        #pesquisa{
            @include flex-box($justify: end, $gap: 1rem);

            #campo-pesquisa{
                width: 50%;
                min-width: 170px;
                min-height: 38px;
                padding: 0.4rem 0.9rem;
                font-family: $fonte-family-primaria;

                &:focus{
                  outline: 1px solid $verde-meteora ;

                }

                @media (max-width: 1000px) {
                    width: 45%;
                    min-width: 157px;
                    font-size: $fonte-tamanho-pequeno;
                    padding: 0.3rem 0.8rem;

                }

                @media (max-width: 760px) {
                    outline: 1px $preto solid;
                    flex-basis: 60%;
                    min-width: 157px;
                    margin-right: 0.5rem;
                    padding: 0.3rem 0.8rem;

                }

                @media (max-width: 500px) {
                    flex-basis: 70%;

                }
                
            }

            #botao-pesquisar{
                padding: 0.5rem 0.7rem;
                background-color: transparent;
                color: inherit;
                border: 1px solid white;
                font-family: $fonte-family-primaria;
                font-size: $fonte-tamanho-padrao;

                &:focus{
                    color: $verde-meteora;
                    font-weight: 600;
                    border-color: $verde-meteora;
                }

                @media (max-width: 1000px) {
                    padding: 0.5rem 0.6rem;
                    font-size: $fonte-tamanho-pequeno;
                }

                @media (max-width: 760px) {
                    
                    border: 1px solid $preto;
                    color: $preto;
                    font-weight: 600;

                }

                 @media (max-width: 500px) {
                    flex-grow: 1;
                }

            }

            @media (max-width: 760px) {
                @include flex-box($justify: center);

                background-color: rgb(255, 255, 255);
                width: 100vw;
                min-height: 86px;
                padding: 1.5rem 1.7rem;
                
            }
        }

        @media(max-width:1000) {
            padding: 0.8rem 1.1rem;
        }

        @media (max-width: 760px) {
            flex-direction: column;
            padding: 0.8rem 1.4rem 0rem 1.4rem;
            
        }
        
    }

}